
body {
    background-color: rgb(235, 11, 56);
    
}

.contenedor {
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    align-items: center;
}

h2 {
    color: black;
    font-size: 30px;
    
}

a {
    color: rgb(224, 174, 7);
    font-size: 25px;
}